[Unit]
Description=Update in progress, DO NOT INTERRUPT

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=-/usr/lib/apt/apt-helper wait-online
ExecStart=/usr/bin/auto-update
ExecStop=/usr/bin/auto-upgrade
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
