[Unit]
Description=Update in progress, DO NOT INTERRUPT

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/calchan-update
ExecStop=/usr/bin/calchan-upgrade
TimeoutStopSec=600

[Install]
WantedBy=multi-user.target
